body{
  background-color: rgba(48,60,72,255);
}

.hd1{
  color:white;
}
.hd{
  color:white;
  text-decoration: underline;
}
.bd{
  color:rgba(99,158,110,255);
}
.rd{
  color:red;
  text-decoration: line-through;
}
